.hero {
  &.has-background {
    position: relative;
    overflow: hidden;
  }

  &-background {
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100%;

    &.is-transparent {
      opacity: 0.3;
    }
  }
}

.burger {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  align-items: center;
}

/*
 *h1 {
 *    display: block;
 *    font-size: 2em;
 *    margin-top: 0.67em;
 *    margin-bottom: 0.67em;
 *    margin-left: 0;
 *    margin-right: 0;
 *    font-weight: bold;
 *}
 *h2 {
 *    display: block;
 *    font-size: 1.5em;
 *    margin-top: 0.83em;
 *    margin-bottom: 0.83em;
 *    margin-left: 0;
 *    margin-right: 0;
 *    font-weight: bold;
 *}
 *h3 {
 *    display: block;
 *    font-size: 1.17em;
 *    margin-top: 1em;
 *    margin-bottom: 1em;
 *    margin-left: 0;
 *    margin-right: 0;
 *    font-weight: bold;
 *}
 *h4 {
 *    display: block;
 *    margin-top: 1.33em;
 *    margin-bottom: 1.33em;
 *    margin-left: 0;
 *    margin-right: 0;
 *    font-weight: bold;
 *}
 *h5 {
 *    display: block;
 *    font-size: .83em;
 *    margin-top: 1.67em;
 *    margin-bottom: 1.67em;
 *    margin-left: 0;
 *    margin-right: 0;
 *    font-weight: bold;
 *}
 *h6 {
 *    display: block;
 *    font-size: .67em;
 *    margin-top: 2.33em;
 *    margin-bottom: 2.33em;
 *    margin-left: 0;
 *    margin-right: 0;
 *    font-weight: bold;
 *}
 *blockquote {
 *  display: block;
 *  margin-top: 1em;
 *  margin-bottom: 1em;
 *  margin-left: 40px;
 *  margin-right: 40px;
 *}
 *pre {
 *  display: block;
 *  font-family: monospace;
 *  white-space: pre;
 *  margin: 1em 0;
 *}
 *
 *table {
 *  display: table;
 *  border-collapse: separate;
 *  border-spacing: 2px;
 *  border-color: gray;
 *}
 *thead {
 *  display: table-header-group;
 *  vertical-align: middle;
 *  border-color: inherit;
 *}
 *tbody {
 *  display: table-row-group;
 *  vertical-align: middle;
 *  border-color: inherit;
 *}
 *td {
 *  display: table-cell;
 *  vertical-align: inherit;
 *}
 *th {
 *  display: table-cell;
 *  vertical-align: inherit;
 *  font-weight: bold;
 *  text-align: center;
 *}
 *tr {
 *  display: table-row;
 *  vertical-align: inherit;
 *  border-color: inherit;
 *}
 *table, th, td {
 *  border: 1px solid black;
 *  border-collapse: collapse;
 *}
 *
 *
 *ul {
 *  display: block;
 *  list-style-type: disc;
 *  margin-top: 1em;
 *  margin-bottom: 1 em;
 *  margin-left: 0;
 *  margin-right: 0;
 *  padding-left: 40px;
 *}
 *li {
 *  display: list-item;
 *}
 *ol {
 *  display: block;
 *  list-style-type: decimal;
 *  margin-top: 1em;
 *  margin-bottom: 1em;
 *  margin-left: 0;
 *  margin-right: 0;
 *  padding-left: 40px;
 *}
 */
